*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background: #f5f7fa;
    padding: 20px;
    font-family: Montserrat;
}
.wrapper {
    background: #fff;
    display: flex;
}
.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo {
    width: 370px;
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}
.contacts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8e949c;
}
.contacts-link-type{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}
.tech-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}
.tech-skills-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
    margin-left: 15px;
}
.tech-skills-text{
    color:#cacdd1;
}
.soft-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;}
.soft-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    }
.soft-Skills-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#ff6b08;
    margin-left: 15px;
}
.soft-Skills-text{
    color:#cacdd1;
}