body {
    font-family: 'Montserrat'sans-serif;
    width: 1280px;
    height: 1965px;
    background-color: #f5f7fa;
}
.photo-main{
    height: 250px;
    width: 200px;
}
.contacts-container{
    background: sandybrown;
    width: 400px;
    /*padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    */
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}
.tech-Skills-container{
    background: tomato;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}
.Soft-Skills-container{
    background: wheat;
    width: 400px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}
.tech-Skills-title{
    font-size: 20px;
    font-weight: 400;
}
.tech-Skills-item{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.main-container{
display: flex;
flex-direction: column;
}